
<div class="container">
    <div *ngIf="!athentificated">
      <h1 class="white-color">Back the password up!</h1>
      <h3 class="white-color text-styles">Please fill out the fields below so that we can identify you. </h3>
      <form (ngSubmit)="getPassword(signupForm.form.value)" #signupForm="ngForm">
          <div class="form-group">
          <input matInput placeholder="Username" #username name="username" ngModel required class="mat-input form-control">
          <mat-error *ngIf="signupForm.form.controls['username']?.invalid && signupForm.form.controls['username'].touched">Username is required</mat-error>
        </div>
        <div class="form-group">
          <input matInput type="email" #email placeholder="Email" name="email" ngModel required class="mat-input form-control">
          <mat-error *ngIf="signupForm.form.controls['email']?.invalid && signupForm.form.controls['email'].touched">Email is required</mat-error>
        </div>
        <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
        <div class="dialog-buttons-container">
          <button mat-raised-button color="primary" type="close" (click)="close()" style="margin-right: 8px;">Close</button>
          <button mat-raised-button color="primary" [disabled]="signupForm.invalid" type="submit">Get Password</button>
        </div>
      </form>
    </div>
    <div *ngIf="athentificated">
        <h1 class="white-color">Here we go!</h1>
        <h3 class="white-color text-styles">
          Your password is: <span style="font-style: italic; font-weight: bold;">{{ password }}</span>.
        </h3>
    </div>
</div>