<footer class="footer-custom-styles">
    <div class="img-container">
        <a href="https://jetbrains.com/company">
            <img style="height: 60px; width: 60px;" src="assets/jetbrains_logo_icon_145150.png" alt="JetBrains_logo">
        </a>
    </div>
    <div class="footer-text-container">
        <a href="https://jetbrains.com/company" style="text-decoration: none; color: #fff;">
            <p>Company</p>
        </a>
        <p class="white-color">© 2000—2024 JetBrains s.r.o. All rights reserved.</p>
    </div>
</footer>