<body class="img js-fullheight" style="background-color: #3c3d40; height: 733px;">
    <div style="width: 100%; display: flex; justify-content: center;">
        <a href="https://www.jetbrains.com/idea/download/?section=mac">
            <img style="height: 200px; width: 900px; margin-top: 20px;" src="assets/download-banner.png" alt="JetBrains_logo">
        </a>
    </div>
        <h1 style="color: white; text-align: center; padding-top: 20px">Welcome!</h1>
        <h3 style="color: white; text-align: center; padding-top: 20px; padding-bottom: 20px;">Thank you for using our mini web application!
            To get rid of annoying advertising and support the project, you can invite me for an interview, <a href="#" (click)="downloadPdf()">hier</a> could you download my CV!</h3>
        <div style="width: 100%; display: flex; justify-content: center;">
                <img class="welcome-img-size" src="assets/ad.png" alt="advertising">
        </div>
    
</body>